/* WRITER Philip Næsgaard */


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header {

}

#logo {
    position: absolute;



}

.footer {

    
}