/* WRITER Philip Næsgaard */


body {
	height: 100vh;
}

.header {
	height: 50vh;
	width: 100vw;
}

.header_footer {
	height: 10vh;
}

#logo {
	height:977px;
	width:977px;
	background-repeat: no-repeat;
}

.footer {
	height: 50vh;
	width: 100vw;
}

