/* WRITER Philip Næsgaard */


body {
	height: 100vh;
}

.header {
	height: 50vh;
	width: 100vw;
}


#logo {
	height:200px;
	width:200px;
	background-size: cover;
}

.footer {
	height: 50vh;
	width: 100vw;
}

